:root {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 10vh;
}

input {
  width: 80px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.board {
  margin-top: 10vh;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  justify-content: center;
  gap: 5px;
}

.square {
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px rgb(9, 9, 9);
}

.inactive {
  display: none;
}

.player {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.player-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5vh;
}

.player-container.inactive {
  display: none;
}

#result {
  margin-top: 5vh;
}

button {
  margin-top: 5vh;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  border: black solid 1px;
}

button:hover,
.square:hover {
  background-color: darkseagreen;
  transform: scale(1.05);
}

h1:hover {
  color: darkseagreen;
  transform: scale(1.05);
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
