.board {
    margin-top: 20vh;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    justify-content: center;
}

.square {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif
}

.inactive {
    display: none;
}